<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPELL</title>

    <script src="static/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="static/semantic.min.css">
    <script src="static/semantic.min.js"></script>

    <script>

var P = []
var N = []
function reqListener() {
    tarea = document.getElementById('output')
    tarea.value = this.responseText
    tarea.scrollTop = tarea.scrollHeight;
}
function doneListener() {
    tarea = document.getElementById('output')
    tarea.value = this.responseText
    tarea.scrollTop = tarea.scrollHeight;
    document.getElementById('spinner').className = "ui disabled centered inline loader"
}

function buttonPress(clickedButton, state, id) {
    const buttons = clickedButton.parentElement.querySelectorAll('button');
    buttons.forEach(button => {
        button.disabled = false
    });
    clickedButton.disabled = true

    const index = P.indexOf(id);
    if (index != -1) {
        P.splice(index, 1);
    }
    
    const index2 = N.indexOf(id);
    if (index2 != -1) {
        N.splice(index2, 1);
    }

    if (state == "p") {
        P.push(id)
    }
    if (state == "n") {
        N.push(id)
    }

    get_output()
}

function get_output() {
    e = document.getElementById('spinner')
    if(e) {
        e.className = "ui active centered inline loader"
    }
    e = document.getElementById('mode-dropdown')

    const req = new XMLHttpRequest();
    req.addEventListener("progress", reqListener);
    req.addEventListener("loadend", doneListener)
    req.open("POST", "/run");
    req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    req.send(JSON.stringify({ "P": P, "N": N, "mode":e.value}));
}
async function reset_state(){
    P = []
    N = []
    await search({target: { value: ""}})
    get_output()
}
async function search(e) {
    var list = document.getElementById("scroll-list")
    var searchText = e.target.value.toLowerCase();

    const response = await fetch(`/search?q=${encodeURIComponent(searchText)}`);
    const data = await response.json();

    list.innerHTML = '';
    data.forEach(item => {
        list.appendChild(itemHTML(item));
    });
}

function itemHTML(item) {
    const itemDiv = document.createElement('div');
    itemDiv.className = "item"
    
    buttonDiv = document.createElement("div")
    buttonDiv.className = "right floated content"
    itemDiv.appendChild(buttonDiv)

    buttonDiv2 = document.createElement("div")
    buttonDiv2.className = "ui buttons"
    buttonDiv.appendChild(buttonDiv2)

    const button = document.createElement('button');
    button.className = 'ui active green button';
    button.textContent = "Positive";

    button.addEventListener('click', () => {
        buttonPress(button, "p", item.id);
    });
    buttonDiv2.appendChild(button)
    if (item.id in P) {
        button.disabled = true
    }

    const button2 = document.createElement('button');
    button2.className = 'ui active red button';
    button2.textContent = "Negative";

    button2.addEventListener('click', () => {
        buttonPress(button2, "n", item.id);
    });
    if (item.id in N) {
        button2.disabled = true
    }
    buttonDiv2.appendChild(button2)
    
    const button3 = document.createElement('button');
    button3.className = 'ui active grey button';
    button3.textContent = "Ignore";

    button3.addEventListener('click', () => {
        buttonPress(button3, "i", item.id);
    });
    buttonDiv2.appendChild(button3)
    if (!(item.id in P) && !(item.id in N)) {
        button3.disabled = true
    }

    contentDiv = document.createElement("div")
    contentDiv.className = "content"
    contentDiv.textContent = item.name
    itemDiv.appendChild(contentDiv)

    return itemDiv

}
    </script>
    <style>
        #scroll-list {
    max-height: 80vh;
    overflow-x: scroll;
    }

    </style>
</head>

<body>
    <div class="ui container">
        <hr>

        <h1 class="ui center aligned header">SPELL</h1>

        <hr>
        <div class="ui two column centered grid">
            <div class="row">
                <div id="profileInfo" class="column">
                    <button class="ui labeled icon active blue button" onclick="reset_state(); return false" ><i class="undo icon"></i>Reset</button>
                    <div class="ui label">
                    Total
                    <div class="detail" > 0 </div>
                    </div>
                    <div class="ui label green">
                    Positive
                    <div class="detail" id = "count p"> 0 </div>
                    </div>
                    <div class="ui label red">
                    Negative
                    <div class="detail" id = "count n"> 0 </div>
                    </div>

                    <div class = "ui segment">
                        <div class="ui input">
                            <input id = "search box" type="text" placeholder="Search...">
                        </div>
                    <div class="ui middle aligned divided list" id="scroll-list">
                    </div>
                    </div>
                </div>

                <div id="profileData" class="column">
                    <div class="ui form">
                        <div class = "field">
                            <label> Mode</label>
                        <select class="ui dropdown" id="mode-dropdown" onchange="get_output()">
                            <option value="full_approx">Full Approx</option>
                            <option value="neg_approx">Neg Approx</option>
                            <option value="exact">Exact</option>
                        </select>
                        </div>
                        <div class="field">
                            <label>Output </label>
                            <textarea id="output" readonly="" rows="30"></textarea>
                            <div class="ui active centered inline loader" id="spinner">Running...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        search({target: { value: ""}})
        get_output()
        const input = document.getElementById("search box");
        input.addEventListener("input", search);
    </script>
</body>

</html>